<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="main-menu">
      <div class="card" id="ee" #mydiv>
        <img src="../../../assets/People-3.png" alt="">
        <div class="nr">
          <h1>{{counter}}</h1>
        </div>
        <div class="people">
          <h1>Total People</h1>
        </div>
      </div>
      <div class="card" #mydiv2>
        <img src="../../../assets/wallet-dynamic-premium.png" alt="">
        <div class="nr">
          <h1 class="cash">{{counter3}}</h1>
        </div>
        <div class="people">
          <h1>Total Amount</h1>
        </div>
      </div>
      <div class="card" #mydiv3>
        <img src="../../../assets/clock-dynamic-premium.png" alt="">
        <div class="nr">
          <h1>{{counter2}}</h1>
        </div>
        <div class="people">
          <h1>Total appointments</h1>
        </div>
      </div>

    </div>
    <div class="menu-info">
      <div class="text">
        <h1>My appointments</h1>
        <input type="text" placeholder="Search" (keyup)="keyFunc($event)">
      </div>
      <div class="list">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                  <div class="example-element-position"> {{element.position}} </div>
                  <div class="example-element-name"> {{element.name}} </div>
              <span class="example-element-description-attribution"> Call:  {{element.phone_nr}}</span>
                  <div class="example-element-weight"> {{element.weight}} </div>
                </div>
                <div class="example-element-description">
                 Descriere: {{element.description}}
                  
                </div>
                <div class="example-element-description">
                 Tip Machiaj: {{element.tip_makeup}}
                </div>

              </div>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        
      </div>
    </div>

  </div>

</div>