

:host{
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}
.page {
    color: white;
    padding: 0 1rem;

}
.page__box {
    min-height: 80px;
    font-size: 1.5rem;
    margin-top: 30px;
}
.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(7.5px);
    font-size: 10px;
    overflow: auto;
}

  thead tr{
    color: white;
}

tbody tr{
    color: wheat;
   
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

.table>:not(caption)>*>* {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

table {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: -17px 18px 43px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: -17px 18px 43px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: -17px 18px 43px 0px rgba(0,0,0,0.57);
    margin-top: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    color: white;
    
}
tr.example-detail-row {
  height: 0;
  color: white;

}


.example-element-row td {
  border-bottom-width: 0;
  color: white;

}

.example-element-detail {
  overflow: hidden;
  display: flex;
  color: white;

}

.example-element-diagram {
  min-width: 80px;
  color: white;

  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
.mat-header-cell {
  color: white;
  font-size: 1rem;

}
.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

tr.mat-row:hover {
    background-color: transparent!important;
    color: white;
}